[submodule "themes/pelican-bootstrap-responsive-theme"]
	path = themes/pelican-bootstrap-responsive-theme
	url = https://github.com/tomgross/pelican-bootstrap-responsive-theme.git
[submodule "themes/Flex"]
	path = themes/Flex
    url = ../Flex.git